# ─── Dependencies ───
node_modules/

# ─── Logs & Debugging ───
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ─── Environment Variables ───
.env
.env.*
!.env.example

# ─── OS Files ───
.DS_Store
Thumbs.db

firebaseServiceAccount.json

.env.example

API_ENDPOINTS.md